body {
   background-color: navy;
   font-family: sans-serif;
}

.fixed-row {
   flex: none;
   text-align: center;
}
.flowing-row {
   flex: 0 1 auto;
   overflow: auto;
   text-align: center;
}
.large {
	margin-top: 50px;
   max-width: 500px;
   min-height: 200px;
   
	background-color: white;
	display: flex;
   flex-direction: column;
}
.small {
	margin-top: 20px;
	width: 250px;
	
	text-align: center;
   color: white;
   font: bold 14px/20px; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
}
.square{
   border-radius: 5px;
   padding: 5px;
   margin-left: auto;
   margin-right: auto;
}
.square-text {
	color: navy;
}
.outer-link:link {
	color: powderblue;
	text-decoration: underline;
}
.outer-link:active {
	color: yellow;
	text-decoration: underline;
}
.outer-link:visited {
	color: pink;
	text-decoration: underline;
}
.outer-link:hover {
	color: red;
	text-decoration: none;
}
.buttons-row {
   flex: none;
   display: flex;
   flex-direction: row;
   margin: 30px 5px 5px 5px;
}
.buttons-row > * {
   flex: 0 1 auto;
   overflow: auto;
   margin: 0px 5px 0px 5px;
}
/* src:http://stackoverflow.com/questions/16548338/full-screen-responsive-background-image */
.bg {
	margin: 0 auto;
}

.bg > img {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -5000;

	/* Preserve aspet ratio */
	min-width: 100%;
	min-height: 100%;
}
