body {
   background-color: navy;
   min-width: 500px;
   min-width: 200px;
   font-family: Tahoma, Geneva, sans-serif;
}

.fixed-row {
   flex: none;
   text-align: center;
}
.flowing-row {
   flex: 1;
   overflow: auto;
   text-align: center;
}
.square{
   width: 500px;
   height: 200px;
   display: flex;
   flex-direction: column;
   background-color: white;
   margin-left: auto;
   margin-right: auto;
   margin-top: 50px;
   border-radius: 5px;
   padding: 5px;
}
.square-text {
	color: navy;
}
.outer-text {
	text-align: center;
   color: white;
}
.outer-link:link {
	color: greenyellow; 
	text-decoration: underline;
}
.outer-link:active {
	color: yellow; 
	text-decoration: underline;
}
.outer-link:visited {
	color: pink; 
	text-decoration: underline;
}
.outer-link:hover {
	color: red; 
	text-decoration: none;
}
.buttons-row {
   flex: none;
   display: flex;
   flex-direction: row;
   margin: 5px;
}
.buttons-row > * {
   flex:1;
   overflow: auto;
   margin: 0px 5px 0px 5px;
}
/* src:http://stackoverflow.com/questions/16548338/full-screen-responsive-background-image */
.bg {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -5000;

	/* Preserve aspet ratio */
	min-width: 100%;
	min-height: 100%;
}
